<!-- Modal -->
                              <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <div class="row">
                                             <h2 class="modal-title" align="center"><%= searchResult[i].post_name %></h2>
                                          </div>
                                       </div>
                                       <div class="modal-body">
                                          <div class="row">
                                          </div>
                                          <div class="row form-group">
                                             <div class="container-fluid">
                                                <p class="description">Description: <%=searchResult[i].description%></p>
                                                <p class="location">Street Adress<%=searchResult[i].location%></p>
                                                <p class="city">City: <%=searchResult[i].city%></p>
                                                <p class="state">State: <%=searchResult[i].state%></p>
                                             </div>
                                          </div>
                                          <div class="modal-footer">
                                             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- End Info Modal -->