<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <script src="/app.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="js/main.js"></script>
    <!------ Include the above in your HEAD tag (sidebar + navbar)---------->

   
</head>
<body>
    
<!--  Begin Navbar  -->
  <div id="navbar-wrapper">
    <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
          </div>
          <div id="navbar-collapse" class="collapse navbar-collapse">
            <form class="navbar-form navbar" id="search" role="search" action="/results">
              <div class="input-group">
                <div class="input-group-btn">
        <select class="form-control" name="category">
			<option value=""<%if(searchCategory == ""){%> selected <%}%>> All Categories </option>
       		<option value="apartment"<%if(searchCategory == "apartment"){%> selected <%}%>> Apartment </option>
			<option value="house"<%if(searchCategory == "house"){%> selected <%}%>> House </option>
        	<option value="room"<%if(searchCategory == "room"){%> selected <%}%>> Room </option>
    </select>
      </div><!-- /btn-group -->
                <input id="search" name="search" value="<%=searchTerm%>" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-default" onClick="this.form.submit()" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                </span>
				
              </div>
              <ul class="nav navbar-nav navbar-right">
              
              <li class="dropdown">
                <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
                <ul class="dropdown-menu dropdown-block" role="menu">
                  <li><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/userdash">Profile</a></li>
                  <li><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/admin">Admin</a></li>
                  <li><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
            </form>
          </div>
        </div>
      </nav>
    </header>
  </div>
  <div id="link-wrapper">
    <div class="container-fluid">
      <div class="link-row">
    
        
        <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000">Home</a></li>
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/about">About</a></li>
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/post">Post</a></li>
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/login">Login</a></li>
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/registration">Register</a></li>
        </ul>
        
        
      </div>
    </div>
  </div>
<!--  End Navbar  -->



  <div id="wrapper">
  <!--  Begin Sidebar Wrapper  -->
	   <div id="sidebar-wrapper">
		  <aside id="sidebar">
			<ul id="sidemenu" class="sidebar-nav">
			  <li>
				<a href="#">
				  
				  <span class="sidebar-title">Gator Housing</span>
				</a>
			  </li>
			  <li>
				<a href="#">
				  <img src="https://i.imgur.com/UGvI4zF.jpg" class="img-responsive img-thumbnail img">
				  
				  
				</a>
			  </li>
			  
			  <div id="filter-wrapper">
			  
				<li>
				  <span class="sidebar-title">Sort by:</span>
					<div class="input-group">
					  <div class="input-group-btn">
						<select class="form-control" id="filtertype">
						  <option value="All">Price: Lowest First</option>
						  <option value="House">House</option>
						  <option value="Apartment">Apartment</option>
						  <option value="Room">Room</option>
						</select>
					  </div>
				  </div>
				</li>


				<li>  
				  <span class="sidebar-title">Filters:</span>
					<div class="input-group">
					  <div class="input-group-btn">
						<select class="form-control" id="pricetype">
						  <option value="All">Any Price</option>
						  <option value="House">House</option>
						  <option value="Apartment">Apartment</option>
						  <option value="Room">Room</option>
						</select>
					  </div>
				  </div>
				</li>

				<li>  
				  <br>
					<div class="input-group">
					  <div class="input-group-btn">
						<select class="form-control" id="pricetype">
						  <option value="All">0+ Bedrooms</option>
						  <option value="House">House</option>
						  <option value="Apartment">Apartment</option>
						  <option value="Room">Room</option>
						</select>
					  </div>
				  </div>
				</li>

				<li>  
				  <br>
					<div class="input-group">
					  <div class="input-group-btn">
						<select class="form-control" id="pricetype">
						  <option value="All">0+ Bath</option>
						  <option value="House">House</option>
						  <option value="Apartment">Apartment</option>
						  <option value="Room">Room</option>
						</select>
					  </div>
				  </div>
				</li>

				<li>  
				  <br>
					<div class="input-group">
					  <div class="input-group-btn">
						<select class="form-control" id="pricetype">
						  <option value="All">Distance</option>
						  <option value="House">House</option>
						  <option value="Apartment">Apartment</option>
						  <option value="Room">Room</option>
						</select>
					  </div>
				  </div>
				</li>
			  </div>
			 
			</ul>
		  </aside>
		</div>
	<!--   End Sidebar Wrapper   -->

<!-- Admin Tab Buttons -->
<section class="wrapper"> 
      
        <div class="container-fluid">
<div class="admin-nav"> 
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="false">Pending Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="approve-tab" data-toggle="tab" href="#approve" role="tab" aria-controls="approve" aria-selected="false">Approve Posts</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="remove-tab" data-toggle="tab" href="#remove" role="tab" aria-controls="remove" aria-selected="false">Remove Posts</a>
  </li>
</ul>
<!-- Admin Tab Contents -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
   <table class="table table-sm">
     <thead>
        <tr>
          <th scope="col">Post ID</th>
          <th scope="col">Image</th>
          <th scope="col">Post Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Status</th>
          <th scope="col">User ID</th>
        </tr>
    </thead>
        <form action='/admin'>
      <button type="button" class="btn btn-primary btn-sm get-post" onClick="this.form.submit()" type="submit">
        Get Posts
      </button> 
      </form>
<!-- Displaying EJS variables from node -->
    <% searchResult.forEach((result) => { %>
      <%if (result.isLive == 0) {%>
  <tbody class="post">   
  <tr>
      <th scope="row"><%= result.post_id%> </th>
      <td><img src="/img/<%= result.image %>" class="rounded-circle player-img" alt="" style="width: 100px;"></td>
      <td><%= result.post_name%> </td>
      <td><%= result.price%> </td>
      <td><%= result.description%> </td>
      <td><%= result.category%> </td>
      <td><%= result.status%> </td>
      <td><%= result.user_id%> </td>
      <!-- Deleting -->
      <td>
      <form action='/admin/approve/<%=result.post_id%>' method="POST">
      <button type="button" class="btn btn-success btn-sm approve-post" id="<%=result.post_id%>"
                onClick="this.form.submit()" type="submit">
        Approve
      </button> 
      </form>
      <form action='/admin/delete/<%=result.post_id%>' method="POST">
      <button type="button" class="btn btn-danger btn-sm delete-post" id="<%=result.post_id%>"
                onClick="this.form.submit()" type="submit">
        Remove
      </button> 
      </form>
      </td>
    </tr>
  </tbody>
        <%}%>
   <% });%>
</table>
              
  </div>
  <div class="tab-pane fade" id="approve" role="tabpanel" aria-labelledby="approve-tab">
      Priority 2: Admin can search and approve.
  </div>
    <div class="tab-pane fade" id="remove" role="tabpanel" aria-labelledby="remove-tab">
      Priority 2: Admin can search and remove.
  </div>
</div>
</div>
</div>

      
    
</section>

</body>
</html>
