<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Gator Housing</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
		<link rel="stylesheet" href="/css/main.css">
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<!------ Include the above in your HEAD tag (sidebar + navbar + carousel)---------->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140652376-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-140652376-1');
		</script>

	</head>
	<body>
		<!--  Begin Navbar  -->
		<div id="navbar-wrapper">
			<!-- Rendering partials -->
			<% include partials/headerPlusSidebar.ejs%>
		</div>
		<div id="link-wrapper">
			<% include partials/navbar.ejs%>
		</div>
		<!--  End Navbar  -->
		<section class="wrapper">
			<div class="container-fluid">
				<h1 class="well">Welcome to Gator Housing</h1>
				<%- messages('messages', locals) %>
				<div class ="row">
					<div class = "container-fluid">
						<p> Number of Listings on Gator Housing: <%= livePost %> </p>
					</div>
				</div>
				<div class="row">
					<!-- Displaying ejs variables to html-->
					<% var i = 5; for (var j = searchResult.length - 1; j > searchResult.length - i; j--) { if (searchResult[i] == null) { break }   if (searchResult[j].isLive != 0) { %>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<div class="card">
							<a class="img-card" href="/results/<%=searchResult[j].post_id%>">
							<img src="/img/<%= searchResult[j].image %>"/>
							</a>
							<div class="card-content">
								<h4 class="card-title">
									<a> <%= searchResult[j].post_name %></a>
								</h4>
								<div class="row centered">
									<div class="col-lg-6">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Font_Awesome_5_solid_bed.svg/512px-Font_Awesome_5_solid_bed.svg.png"height="16" width="16">  Beds: <%= searchResult[j].beds %>  
									</div>
									<div class="col-lg-6">
										<img src="https://svgsilh.com/svg/145802.svg" height="16" width="16">  Baths: <%= searchResult[j].baths %>
									</div>
								</div>
								<div class="row">
									<div class="pricecard">
										<h3> $<%= searchResult[j].price%></h3>
									</div>
								</div>
							</div>
							<div class="card-read-more">
								<div class="container-fluid">
									<div class="row" style="text-align: center;padding: 15px;">
										<div class="col-xs-6">
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal" 
												data-name="<%=searchResult[j].post_name%>"
												data-id="<%=searchResult[j].post_id%>">
											Contact
											</button>
										</div>
										<div class="col-xs-6">
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal" 
												data-name2="<%=searchResult[j].post_name%>"
												data-description="<%=searchResult[j].description%>"
												data-location="<%=searchResult[j].location%>"
												data-city="<%=searchResult[j].city%>"
												data-state="<%=searchResult[j].state%>">
											More Info
											</button>
										</div>
									</div>
								</div>
								<% include partials/contactModal.ejs%>
								<% include partials/infoModal.ejs%>
							</div>
						</div>
					</div>
					<% } else{ i = i + 1; %>		
					<%   } }  %>
				</div>
				<div class="row">
					<!-- Display results -->
					<p class="text-center center-block">Newly Added Listings 1 - 4</p>
					<div class="dividerF">
					</div>
				</div>
				<div class="row">
					<% if (searchResult.length > 7) { for (var i = 4; i < 8; i++) { %>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<div class="card">
							<a class="img-card" href="/results/<%=searchResult[i].post_id%>">
							<img src="/img/<%= searchResult[i].image %>"/>
							</a>
							<div class="card-content">
								<h4 class="card-title">
									<a> <%= searchResult[i].post_name %></a>
								</h4>
								<div class="row centered">
									<div class="col-lg-6">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Font_Awesome_5_solid_bed.svg/512px-Font_Awesome_5_solid_bed.svg.png"height="16" width="16">  Beds: <%= searchResult[j].beds %>  
									</div>
									<div class="col-lg-6">
										<img src="https://svgsilh.com/svg/145802.svg" height="16" width="16">  Baths: <%= searchResult[j].baths %>
									</div>
								</div>
								<div class="row">
									<div class="pricecard">
										<h3> $<%= searchResult[j].price%></h3>
									</div>
								</div>
							</div>
							<div class="card-read-more">
								<div class="container-fluid">
									<div class="row" style="text-align: center;padding: 15px;">
										<div class="col-xs-6">
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal" 
												data-name="<%=searchResult[i].post_name%>"
												data-id="<%=searchResult[i].post_id%>">
											Contact
											</button>
										</div>
										<div class="col-xs-6">
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal" 
												data-name2="<%=searchResult[i].post_name%>"
												data-description="<%=searchResult[i].description%>"
												data-location="<%=searchResult[i].location%>"
												data-city="<%=searchResult[i].city%>"
												data-state="<%=searchResult[i].state%>">
											More Info
											</button>
										</div>
									</div>
								</div>
								<% include partials/contactModal.ejs%>
								<% include partials/infoModal.ejs%>
							</div>
						</div>
					</div>
					<% } } %>
				</div>
				<div class="row">
					<!-- Display results -->
					<p class="text-center center-block">Listings Available Now 1 - 4</p>
					<div class="dividerF">
					</div>
				</div>
				<div class="row">
					<% if (searchResult.length > 11) { for (var i = 8; i < 12; i++) { %>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<div class="card">
							<a class="img-card" href="/results/<%=searchResult[i].post_id%>">
							<img src="/img/<%= searchResult[i].image %>"/>
							</a>
							<div class="card-content">
								<h4 class="card-title">
									<a> <%= searchResult[i].post_name %></a>
								</h4>
								<div class="row centered">
									<div class="col-lg-6">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Font_Awesome_5_solid_bed.svg/512px-Font_Awesome_5_solid_bed.svg.png"height="16" width="16">  Beds: <%= searchResult[j].beds %>  
									</div>
									<div class="col-lg-6">
										<img src="https://svgsilh.com/svg/145802.svg" height="16" width="16">  Baths: <%= searchResult[j].baths %>
									</div>
								</div>
								<div class="row">
									<div class="pricecard">
										<h3> $<%= searchResult[j].price%></h3>
									</div>
								</div>
							</div>
							<div class="card-read-more">
								<div class="container-fluid">
									<div class="row" style="text-align: center;padding: 15px;">
										<div class="col-xs-6">
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal" 
												data-name="<%=searchResult[i].post_name%>"
												data-id="<%=searchResult[i].post_id%>">
											Contact
											</button>
										</div>
										<div class="col-xs-6">
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal" 
												data-name2="<%=searchResult[i].post_name%>"
												data-description="<%=searchResult[i].description%>"
												data-location="<%=searchResult[i].location%>"
												data-city="<%=searchResult[i].city%>"
												data-state="<%=searchResult[i].state%>">
											More Info
											</button>
										</div>
									</div>
									<% include partials/contactModal.ejs%>
									<% include partials/infoModal.ejs%>
								</div>
							</div>
						</div>
					</div>
					<% } } %>
				</div>
				<div class="row">
					<!-- Display results -->
					<p class="text-center center-block">Recently Sold Listings 1 - 4</p>
					<div class="dividerF">
					</div>
				</div>
         </div>
          <div class="row">
    <div class="col-md-12 text-center">
      <br/><br/><br/>
        <hr/>
        <p>Team 12 CSC 648-848 Section 2</p>
    </div>
  </div>
<!-- End Copyright Section -->
		</section>
		</div>
      </form>
      <!-- Begin Copyright Section -->
 
	</body>
	<script src="/js/infoModal.js"></script>
	<script src="/js/modal.js"></script>
</html>